@charset "UTF-8";
section div.intro{
	height: 100px;
	background:  #79BD9A;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
section div.intro h1{
	color: white;
	text-align: center;
	line-height: 100px;
}
section div.main_div{
	display: inline-flex;
	height: 500px;
	width: auto;
	min-width: 1000px
}
section div.main_div nav.nav{
	display: inline-block;
	width: 300px;
}
section nav.nav i.fas{
	color: #A8DBA8;
	padding-left: 10px;
}
section div.main_div nav.nav div.menu{
	display: block;
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	width: 300px;
	height: 100px;
	line-height: 100px;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
section div.main_div nav.nav div.menu:hover{
	cursor: pointer;
	background-color: #CFF0DA;
	font-size: 23pt;
	color: #3B8686;
}
section div.main_div article{
	display:inline-block;
	vertical-align: top;
	padding: 10px;
	height: 100%;
	max-height: 480px;
	width: 100%;
}
section article.art h1{
	font-size: 20pt;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
section article.art i.fas:hover{
	cursor: pointer;
	color: #A8DBA8;
}
div.main_div i.fa-undo-alt{
	font-size: 40pt;
	margin: 5px;
}
div.main_div i.fa-undo-alt:hover{
	cursor: pointer;
}
.green_Button{
	display: inline-block !important;
	text-align: center;
	width: 70px;
	height: 25px;
	background-color: #CFF09E;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
.green_Button:hover{
	cursor: pointer;
	background: #A8DBA8;
	font-weight: bold;
}