@charset "UTF-8";
section article.art .checkMenu1,
section article.art .checkMenu2{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
section article.art .checkMenu1 li,
section article.art .checkMenu2 li{
	width: 120px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	background-color: #CFF09E;
	font-weight: bold;
	color: grey;
	font-size: 12pt;
	border-radius: 30px;
	border: 5px solid white;
}
section article.art .checkMenu1 li.select,
section article.art .checkMenu2 li.select{
	border: 5px solid #CFF09E;
	background-color: white;
}
section article.art .checkMenu1 li:hover,
section article.art .checkMenu2 li:hover{
	background-color: white;
	color: #3B8686;
	border: 5px solid #CFF09E;
	cursor: pointer;
}
section article.art span{
	display: block;
}