.caleDiv h3{
	display: block;
}
.caleDiv #calendar{
	width: 400px;
	height: auto;
	float: left;
}
.caleDiv #show{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 10px;
	background-color: #EAEAEA; 
}

#calendar .week{
	display:flex;
}
#calendar .week span{
}
#calendar .week .beforeDay,
#calendar .week .activeDay,
#calendar .week .afterDay{
	display: inline-block;
	width: 100px;
	height: 40px;
}
#calendar .week .name{
	width: 100px;
	text-align: center;
	background-color: #E4F7BA;
}
#calendar .week .beforeDay,
#calendar .week .afterDay{
	color: #D5D5D5;
}
#calendar .week .activeDay{
	background-color: #F6F6F6;
	font-weight: bold;
}

#calendar .week .activeDay .sceduleDay{
	display: inline-block;
	background-color: red;
	width:8px;
	height: 8px;
	margin-bottom: 10px;
	margin-left: 2px;
	cursor: pointer;
}

#calendar .week .activeDay .goalDay{
	display: inline-block;
	background-color: blue;
	width:8px;
	height: 8px;
	margin: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}